pypdf
langchain-text-splitters
tqdm
pandas
numpy
faiss-cpu
rank-bm25
groq
python-dotenv
matplotlib
torch>=2.0
sentence-transformers>=2.6.0
numpy<2


pydantic
typing_extensions
python-dateutil
pytz
pillow
sympy
scikit-learn
transformers<4.40
lang_chain_core
pydantic<2
httpx
sniffio
distro

